*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF); }

html, body{
    margin:0;
    padding:0;
    font-family:'helvetica';
}

body{
    width:100%;
    background:url('/images/spacebg.jpg');
    background-repeat:no-repeat;
    background-size:100% 150%;
    margin-left:auto;
    margin-right:auto;
    min-width:1300px;
}

#container{
    min-width:1300px;
}

#loginbox table{
    margin-right:auto;
    margin-left:auto;
}

#loginbox td:first-child{
    padding-right:50px;
}

#loginbox td{
    padding-bottom:15px;
}

.login{
    cursor:pointer;
}
#submenu a:hover{
    color:#fff;
}

#mainwindow{
    width:800px;
    height:500px;
    background:url('/images/center.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    display:inline-block;
    margin-top: 60px;
    margin-left:-18px
}

#homemainwindow{
    width:800px;
    height:500px;
    background:url('/images/home-center.png');
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin-top: 60px;
    margin-left:auto;
    margin-right:auto;
}

#contacthead{
    width:100%;
    text-align:center;
    padding-top:10px;
}

.contacttable{
    margin-left:auto;
    margin-right:auto;
    margin-top:4%;
}

.registertable{
    margin-left:auto;
    margin-right:auto;
    color:#fff;
    padding-top:100px;
}

.contacttable td{
    padding-bottom:10px;
}

.contacttable tr td:first-child{
    padding-right:30px;
}

.contacttable tr:last-child td{
    text-align:center;
    padding-top:10px;
}

.login:hover{
    color:#fff;
}

#leftsidebar{
   display:inline-block;
   padding-top:20px;
   padding-bottom:20px;
   vertical-align:top;
}

#rightsidebar{
    display:inline-block;
    width:220px;
    height:182px;
    padding-top:20px;
    padding-bottom:20px;
    vertical-align:top;
    position:relative;
    background:url('/images/right-menu.png');
    background-size:100% 100%;
    margin-left: -103px;
    margin-top: 154px;  
}

#avatar{
    position:relative;
    background:url('/images/data.png');
    background-size:100% 100%;
    width:160px;
    height:112px;
    padding-left:131px;
    padding-top:15px;
    color:#fff;
    margin-left: 73px;
}

#avatarpic{
    position:absolute;
    width:108px;
    height:94px;
    border-radius:130px;
    top:13px;
    left:15px;
    overflow:hidden;
}

#avatar table td{
    padding-bottom:1px;
    font-size:9px;
}

#avatar table tr:first-child td{
    padding-bottom:9px;
    font-size:15px;
}

.bar{
    width:70px;
    background:#fff;
    height:2px;
}

.energyfill{
    width:100%;
    height:100%;
    background:url('/images/energy.png');
    background-repeat:repeat-x;
}

.fuelfill{
    width:100%;
    height:100%;
    background:url('/images/fuel.png');
    background-repeat:repeat-x;
}

.healthfill{
    width:100%;
    height:100%;
    background:url('/images/shield.png');
    background-repeat:repeat-x;
}

.leftmenuitem{
    position:relative;
    background:url('/images/menu-item3.1.png');
    background-size:100% 100%;
    width: 115px;
    height: 40px;
    color: #05d4f3;
    margin-left: 199px;
    margin-top: 16px;
    font-size: 12PX;
    line-height: 43px;
    padding-left: 50PX;
    cursor:pointer;
}

.leftmenuitem:hover{
    color:#ffff00;
    font-size:14px;
}

.itemicon{
    position:absolute;
    width: 33px;
    height: 33px;
    border-radius: 50px;
    top: 3px;
    left: 12px;
    overflow:hidden;
    background:rgba(160,160,160,0.4);
}

#leftcolumn{
    vertical-align:top;
    height:337px;
}

#logincolumn{
    color:#FFF;
    width:450px;
    margin-left:333px;
}
.logintable{
    display:inline-block;
    vertical-align:top;
    margin-top: 34px;
}

#login{
    display:inline-block;
    position:relative;
}

#outercircle{
    position:absolute;
    background:url('/images/outer-circle.png');
    background-size:cover;
    height:129px;
    width:129px;
    left: 30px;
    top: -19px;
}

#middlecircle{
    position:absolute;
    background:url('/images/middle-circle.png');
    background-size:cover;
    height:99px;
    width:99px;
    top: -4px;
    left: 44px;
}

#innercircle{
    position:absolute;
    background:url('/images/inner-circle.png');
    background-size:cover;
    height:70px;
    width:70px;
    top: 11px;
    left: 59px;
}

#loginbut{
    position:absolute;
    top: 14px;
    left: 64px;
}

.loginbut{
    text-decoration:none;
    border:none;
    width:60px;
    height:60px;
    background:none;
    color:#05d4f3;
    font-weight:bold;
}

#logincolumn input{
    background:rgba(160,160,160,0.4);
    color:#05d4f3
}


